.voffset4 {
    margin-top: 4px;
}

.voffset12 {
    margin-top: 12px;
}

.voffset16 {
    margin-top: 16px;
}

.voffset30 {
    margin-top: 30px;
}

.vtrailing16 {
    margin-bottom: 16px;
}

.loffset6 {
    margin-left: 6px;
}

.roffset6 {
    margin-right: 6px;
}

.selectable {
    padding-left: 3px;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
}

.selected-rolemodel {
    padding-left: 3px;
    border-radius: 4px;
    cursor: default;
    background-color: #337ab7;
    color: #fff;
}

.selected-model {
    padding-left: 3px;
    border-radius: 4px;
    cursor: default;
    background-color: #337ab7;
    color: #fff;
}

.model-connect {
    top: -8px;
    bottom: -8px;
}

.model-disconnect {
    top: -8px;
    bottom: -8px;;
}

/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
    #is-mobile { display: none; }
}
