.voffset4 {
    margin-top: 4px;
}

.voffset12 {
    margin-top: 12px;
}

.voffset16 {
    margin-top: 16px;
}

.voffset30 {
    margin-top: 30px;
}

.vtrailing16 {
    margin-bottom: 16px;
}

.loffset6 {
    margin-left: 6px;
}

.roffset6 {
    margin-right: 6px;
}

#languagechoice:hover {
    cursor: pointer;
}

.glyphicon-plus:hover {
    cursor: pointer;
}

.glyphicon-minus:hover {
    cursor: pointer;
}

.selectable {
    padding-left: 3px;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
}

.selected-rolemodel {
    padding-left: 3px;
    border-radius: 4px;
    cursor: default;
    background-color: #337ab7;
    color: #fff;
}

.selected-model {
    padding-left: 3px;
    border-radius: 4px;
    cursor: default;
    background-color: #337ab7;
    color: #fff;
}

.model-connect {
    top: -8px;
    bottom: -8px;
}

.model-disconnect {
    top: -8px;
    bottom: -8px;
}

.roleModelModal {
    width: 460px;
}

.roleModel_result_panel {
    width: 400px;
}

.modal-dialog {
    width: 440px;
}

.modal-content {
    width: 440px;
}

.list-group {
    max-height: 300px;
    max-width: 380px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.rpmEnds_map:hover {
    cursor: pointer;
}

.rpmEnds_roleModel:hover {
    cursor: pointer;
}

.rpmEnds_rolemodel_modal:hover {
    cursor: pointer;
}

.code_image {
    width: 400px;
    height: auto;
    border: 1px solid #555 ;
}

#map {
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    height: 400px;
    width: 600px;
  }
  
.rpmEnds_map {
    position: absolute;
    top: 10px;
    left: 55px;
    width: 70px;
    height: 45px;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding-left: 4px;
  }

.rpmEnds_map[disabled="disabled"] {
    cursor: wait;
    position: absolute;
    top: 10px;
    left: 55px;
    width: 70px;
    height: 45px;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding-left: 4px;
  }

  /* Smartphones ----------- */
@media only screen and (max-width: 760px) {
    #is-mobile { display: none; }

    .roleModelModal {
        width: 360px;
    }

    .roleModel_result_panel {
        width: 300px;
    }

    .modal-dialog {
        width: 340px;
    }
  
    .modal-content {
        width: 340px;
    }
    
    .list-group{
        max-height: 300px;
        max-width: 280px;
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .code_image {
        width: 280px;
        height: auto;
        border: 1px solid #555 ;
    }
    
    #map {
        height: 300px;
        width: 300px;
    }

    .rpmEnds_map {
        position: absolute;
        top: 10px;
        left: 65px;
        width: 70px;
        height: 45px;
        background: ghostwhite;
        border-left: 5px solid lightsteelblue;
        box-sizing: border-box;
        padding-left: 4px;
      }

    .rpmEnds_map[disabled="disabled"] {
        position: absolute;
        top: 10px;
        left: 65px;
        width: 70px;
        height: 45px;
        background: rgb(161, 161, 161);
        border-left: 5px solid lightsteelblue;
        box-sizing: border-box;
        padding-left: 4px;
      }
      
}
