<%inherit file="base.html"/>

  <div class="container">
    <div class="row loffset6 roffset6">
      <div class="col-xs-2 voffset16">
        <div>
          <img src="static/images/logo.png" width="30">
        </div>
        <div class="row loffset6">
          <h6><small>${cpright}</small></h6>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="row">
          <h3>${title}</h3>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="row pull-right roffset6 voffset4">
          <!--
          <span>${donation}
          <img src="/static/images/epc-qr.eu_donation_2euro_site_developer.png" height="100">
          </span>
          -->
        </div>
        <div class="row roffset6 voffset16">
          <select id="languagechoice" class="form-control">${language_options}</select>
      </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-12">
        <div id="homepage_message"><b><code style="background:white">${homepage_message}</code></b></div>
      </div>
    </div>				

    
    <div class="row loffset6 roffset6">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    
    <div class="row loffset6 roffset6">
      <div class="col-xs-12">
        <span id="select-tab-map" style="font-weight:bold; font-size: 1.2em; cursor:pointer;" onclick="selectTab('tab-map');">${mill_map_tab}</span>
        <span id="select-tab-models" style="font-weight:bold; font-size: 1.2em; cursor:pointer;" onclick="selectTab('tab-models');">${link_model_tab}</span>
      </div>
    </div>
    
    <div id="tab-map">
      <div class="row loffset6 roffset6">
        <div class="col-xs-12">
          <div id="imagemap"></div>
          <div id="map"></div>
        </div>
      </div>

      <div class="row loffset6 roffset6">
        <div class="col-xs-12">
          <div style="font-size:10px;">
            ${disclaimer}
          </div>
        </div>
      </div>

      <div class="row loffset6 roffset6">
        <div class="col-xs-6">
          <div><h4>${active_mills}</h4></div>
          <div id="millData">${waiting}</div>
        </div>
      </div>

      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>
    </div>

    <div id="tab-models">
    
      <div class="row loffset6 roffset6">
        <div class="col-xs-12">
          <hr>
        </div>
      </div>
        
      <div class="row loffset6 roffset6">
        <div class="col-xs-12">
          <div><h3>${link_steps}</h4></div>
        </div>
      </div>
      <div class="row loffset6 roffset6">
        <div class="col-xs-4">
          <div>${step_1_select_mill}</div>
          <div>${choosen_mill} <span id="selectedRoleModel"></span></div>
        </div>
        <div class="col-xs-4">
          <div>${step_2_select_model}</div>
          <div>${choosen_model} <span id="selectedModelId"></span></div>
        </div>
        <div class="col-xs-4">
          <div>${step_3_confirmation}</div>
          <div>
            <div><input id="confirmSelections" type="button" onclick="confirmSelections();" value="${ok}"/></div>
          </div>
          <!-- start hidden -->
          <div id="selectedRoleModelId" style="display:none;"></div>
          <div id="selectedModelUrl" style="display:none;"></div>
          <!-- end hidden -->

        </div>
      </div>
    
      <div class="row loffset6 roffset6">
        <div class="col-xs-12">
          <hr>
        </div>
      </div>
        
      <div class="row loffset6 roffset6">
        <div class="col-xs-6">
    
          <div><h4>${mill_list}</h4></div>
          <div id="roleModelData"></div>
        </div>
        <div class="col-xs-6">
          <table>
            <tr>
              <td>
                <span><h4>${model_list}&nbsp;</h4></span>
              </td>
              <td>
                <input  id="refreshModelList" type="button" onclick="refreshModelList();" value="${refresh_model_list}"/>
              </td>
              <td>
                <div id="modelSelection"></div>
              </td>
            </tr>
            <tr>
          </table>
          <div id="modelList">${waiting}</div>
        </div>

      </div>

    </div>
  </div>


  <%include file="mami/map.html"/>

  <%include file="mami/features.html"/>

  <%include file="mami/popup.html"/>

  <%include file="mami/connectModel.html"/>

<script>
function selectTab(tabId) {
  var tabMap = "tab-map";
  var tabModels = "tab-models";
  document.getElementById(tabMap).style.display= "none";
  document.getElementById("select-" + tabMap).style.borderLeft = "none";
  document.getElementById("select-" + tabMap).style.borderRight = "none";
  document.getElementById("select-" + tabMap).style.borderTop = "none";
  document.getElementById("select-" + tabMap).style.paddingLeft = "15px";
  document.getElementById("select-" + tabMap).style.paddingRight = "15px";
  document.getElementById("select-" + tabMap).style.paddingTop = "7px";
  document.getElementById(tabModels).style.display= "none";
  document.getElementById("select-" + tabModels).style.borderLeft = "none";
  document.getElementById("select-" + tabModels).style.borderRight = "none";
  document.getElementById("select-" + tabModels).style.borderTop = "none";
  document.getElementById("select-" + tabModels).style.paddingLeft = "15px";
  document.getElementById("select-" + tabModels).style.paddingRight = "15px";
  document.getElementById("select-" + tabModels).style.paddingTop = "7px";
  document.getElementById(tabId).style.display = "inline";
  document.getElementById("select-" + tabId).style.borderLeft = "1px solid black";
  document.getElementById("select-" + tabId).style.borderRight = "1px solid black";
  document.getElementById("select-" + tabId).style.borderTop = "1px solid black";
  document.getElementById("select-" + tabId).style.paddingLeft = "15px";
  document.getElementById("select-" + tabId).style.paddingRight = "15px";
  document.getElementById("select-" + tabId).style.paddingTop = "7px";
}

function showRoleModelList() {
  var roleModelTable = '';
  roleModelTable += '<table class="table">';
  roleModelTable += '<thead>';
  roleModelTable += '    <tr>';
  roleModelTable += '      <th scope="col">${table_model_name}</th>';

  if (Object.keys(millData).length != 0) {
        roleModelTable += '<th>';
        roleModelTable += 'Enden';
        roleModelTable += '</th>';
      }

  roleModelTable += '    </tr>';
  roleModelTable += '  </thead>';
  roleModelTable += '<tbody>';
    $.each(${all_mills}, function(id, name) {
      roleModelTable += '  <tr>';
      roleModelTable += '    <td>';
      roleModelTable += '<div id="';
      roleModelTable += id;
      roleModelTable += '"';
      roleModelTable += ' draggable="true" ondragstart="drag(event);"';
      roleModelTable += " onclick='setSelectedRoleModel(" + JSON.stringify(id) + "," + JSON.stringify(name) + ");'";
      roleModelTable += '>';
      roleModelTable += name;
      roleModelTable += '</div>';
      roleModelTable += '    </td>';

      if (Object.keys(millData).length != 0) {
        roleModelTable += '    <td>';
        roleModelTable += millData[id].cpm;
        roleModelTable += '    </td>';
      }

      roleModelTable += '  </tr>';
    });
  
  $('#roleModelData').html(roleModelTable);
  document.getElementById("confirmSelections").disabled = true;
}


function showMillData(millData) {
  if (Object.keys(millData).length == 0) {
    return '${no_available_mills}';
  }
  millTable = '';
  millTable += '<table class="table">';
  millTable += '<thead>';
  millTable += '    <tr>';
  millTable += '      <th scope="col">${table_mill_name}</th>';
  millTable += '      <th scope="col">${table_ends}</th>';
  millTable += '    </tr>';
  millTable += '  </thead>';
  millTable += '<tbody>';
  $.each(millData, function(index, featureId) {
    millTable += '  <tr>';
    millTable += '    <td>';
    millTable += '<div id="';
    millTable += millData[index].id;
    millTable += '"';
    millTable += '>';
    millTable += millData[index].name;
    millTable += '</div>';
    millTable += '    </td>';
    millTable += '    <td>';
    millTable += millData[index].cpm;
    millTable += '    </td>';
    millTable += '  </tr>';
  });
  millTable += '</tbody>';
  millTable += '</table>';

  return millTable;
}


function refresh() {
    // set cpm in all features
    senderData = {};
    for (var i=0; i < Object.keys(data).length; i++) {
      for (const [key, value] of Object.entries(data[i])) {
        senderData[key] = value;
      }
    }
    $.each(featureSource.getFeatures(), function(index, feature) {
      var featureId = feature.getId();
      var featureData = senderData[featureId];

        perMillData = {};  // data per mill
        if (featureData !== undefined) {
          feature.set("name", featureData["name"]);
          feature.set("cpm", featureData["cpm"]);
          feature.set("message", featureData["message"]);
          
          perMillData["id"] = featureId;
          perMillData["name"] = featureData["name"];
          perMillData["cpm"] = featureData["cpm"];
          perMillData["message"] = featureData["message"];
          millData[featureId] = perMillData;
        }
    });
    molenLayer.setSource(featureSource);
    molenLayer.setStyle(styleFunction);
    
    $('#millData').html(showMillData(millData));
}

// start sse functions
function getDataSse() {
	try {
		dataSource.close();
	}
	catch(err) {
		console.log('info: ' + err.message);
	}

	try {
		dataSource = new EventSource("getDataSse/");
	    dataSource.onmessage = function(event) {
        	data = JSON.parse(event.data);
          if (Object.keys(data).length == 0) {
            // cleanup table
            millData = {};
          }
       	  refresh();
	    }
	}
	catch (err) {
		console.log(err.message);
	}
}

/* requests the getFeatureDataSse for the selected feature from this server */
/* TODO: is to be used by step 3. the model */
/* TODO: is also used by the popup */
function getUpdates(featureId) {
	// selectedId = featureId
	try {
		singleSource.close();
	}
	catch(err) {
		console.log(err.message);
	}
	try {
	    singleSource = new EventSource("getFeatureDataSse/?feature_id=" + featureId);
	    singleSource.onmessage = function(event) {
	        /* for popup: put it on a document.element.id*/
          /* TODO: event.data is a list of dicts, for each sender a dict is available */
          document.getElementById(featureId).innerHTML = event.data + "<br>";
	        //event.data = cpm
	    };
	}
	catch(err) {
		console.log(err.message);
	}
}

// end sse functions

// global variables
var cpm = '';
var selectedId = ''; //'nl_03503';
var data;            // contains a list of featureId's and cpm's
var senderData;      // contains featureId and cpm
var dataSource;      // contains the sse datasource which are all features
var singleSource;    // contains the selected source which is a single feature
var millData = {};   // contains a table with mill data
var models = {};     // contains a table with model data


var featureSource = new ol.source.Vector({
    url: "static/data/features.json",
    format: new ol.format.GeoJSON(),
    useSpatialIndex: false
});

// start language choice
$('#languagechoice').off('change').on('change', function(event){
		var choice = $('#languagechoice').val();
		var newLocation = window.location.href;
		questionLocation = newLocation.indexOf("?");
		if (questionLocation > -1) {
			newLocation = newLocation.split("?")[0];
		}
		newLocation = newLocation + "?lang=" + choice;
    console.log(newLocation);
		window.location.href = newLocation;
});
// end language choice


// start roleModelList using features
showRoleModelList();
// end roleModelList using features

// start show tab-map
selectTab("tab-map");
// end show tab-map

// start get data
getDataSse();
// end get data

// start get model list
refreshModelList();
// end get model list
</script>