<%inherit file="base.html"/>

  <div class="container">
    <div class="row loffset6 rofset6">
      <div class="col-xs-2 voffset16">
        <div>
          <a href=""><img src="static/images/logo.png" width="30"></a>
        </div>
        <div class="row loffset6">
          <h6><small>&copy; 2020 MAMI</small></h6>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row text-center">
          <div id="homepage_message"><b><code>&nbsp;</code></b></div>
        </div>				
        <div class="row">
          <a href=""><h2>Draaiende molens</h2></a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row pull-right roffset6 voffset4">
          <!--
            <span>Donatie van 2 Euro
            <img src="/static/images/epc-qr.eu_donation_2euro_site_developer.png" height="100">
          </span>
          -->
        </div>
        <!--
        <div class="row voffset12">
          <select id="languagechoice" class="form-control">
              <option selected="" value="en">English</option><option value="nl">Nederlands</option>
          </select>
        </div>
        -->
      </div>
    </div>
    <div class="row loffset6 roffset6">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row loffset6 roffset6">
      <div class="col-xs-12">
        <div id="imagemap"></div>
        <div id="map"></div>
      </div>
    </div>
    <div class="row loffset6 roffset6">
      <div class="col-xs-12">
        <div style="font-size:10px;">
          Disclaimer: Aan de juistheid van gegevens kunnen geen rechten worden ontleend.
        </div>
      </div>
    </div>
    <div class="row loffset6 roffset6">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row loffset6 roffset6">

    <div class="col-xs-4">
      <div><h4>Lijst van werkende molens</h4></div>
      <div id="millData">geduld...</div>
    </div>
    <div class="col-xs-4">
      <div><h4>Koppel modelmolen(s) in 3 stappen</h4></div>
      <div>Stap 1. Selecteer een molen uit de lijst van werkende molens</div>
      <div>Stap 2. Selecteer een model uit de lijst van modellen</div>
      <div>Stap 3. Bevestig de keuze</div>
      <div>Gekozen molen: <span id="selectedRoleModel"></span></div>
      <div>Gekozen model: <span id="selectedModel"></span></div>
      <div id="selectedRoleModelId" style="display:none;"></div>
      <div id="selectedModelId" style="display:none;"></div>
      <div><input id="refreshModelList" type="button" onclick="refreshModelList();" value="refresh model list"/></div>

    </div>
    <div class="col-xs-4">
      <div><h4>Lijst van modellen</h4></div>
      <div id="modelList">geduld...</div>
    </div>

  </div>

  </div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
  </div>
  <div id="modelSelection"></div>

  <%include file="mami/map.html"/>

  <%include file="mami/features.html"/>

  <%include file="mami/popup.html"/>

  <%include file="mami/connectModel.html"/>

<script>

function showMillData(millData) {
  if (Object.keys(millData).length == 0) {
    return 'Geen werkende molens beschikbaar';
  }
  millTable = '';
  millTable += '<table class="table">';
  millTable += '<thead>';
  millTable += '    <tr>';
  millTable += '      <th scope="col">Naam</th>';
  millTable += '      <th scope="col">Enden</th>';
  millTable += '    </tr>';
  millTable += '  </thead>';
  millTable += '<tbody>';
  $.each(millData, function(index, featureId) {
    millTable += '  <tr>';
    millTable += '    <td>';
    millTable += '<div id="';
    millTable += millData[index].id;
    millTable += '"';
    millTable += ' draggable="true" ondragstart="drag(event);"';
    millTable += " onclick='setSelectedRoleModel(" + JSON.stringify(featureId) + ");'";
    millTable += '>';
    millTable += millData[index].name;
    millTable += '</div>';
    millTable += '    </td>';
    millTable += '    <td>';
    millTable += millData[index].cpm;
    millTable += '    </td>';
    millTable += '  </tr>';
  });
  millTable += '</tbody>';
  millTable += '</table>';

  return millTable;
}


function refresh() {
    // set cpm in all features
    senderData = {};
    for (var i=0; i < Object.keys(data).length; i++) {
      for (const [key, value] of Object.entries(data[i])) {
        senderData[key] = value;
      }
    }
    $.each(featureSource.getFeatures(), function(index, feature) {
      var featureId = feature.getId();
      var featureData = senderData[featureId];

        perMillData = {};  // data per mill
        if (featureData !== undefined) {
          feature.set("name", featureData["name"]);
          feature.set("cpm", featureData["cpm"]);
          feature.set("message", featureData["message"]);
          
          perMillData["id"] = featureId;
          perMillData["name"] = featureData["name"];
          perMillData["cpm"] = featureData["cpm"];
          perMillData["message"] = featureData["message"];
          millData[featureId] = perMillData;
        }
    });
    molenLayer.setSource(featureSource);
    molenLayer.setStyle(styleFunction);
    
    $('#millData').html(showMillData(millData));
}

// start sse functions
function getDataSse() {
	try {
		dataSource.close();
	}
	catch(err) {
		console.log('info: ' + err.message);
	}

	try {
		dataSource = new EventSource("getDataSse/");
	    dataSource.onmessage = function(event) {
        	data = JSON.parse(event.data);
          if (Object.keys(data).length == 0) {
            // cleanup table
            millData = {};
          }
       	  refresh();
	    }
	}
	catch (err) {
		console.log(err.message);
	}
}

/* requests the getFeatureDataSse for the selected feature from this server */
/* TODO: is to be used by step 3. the model */
/* TODO: is also used by the popup */
function getUpdates(featureId) {
	// selectedId = featureId
	try {
		singleSource.close();
	}
	catch(err) {
		console.log(err.message);
	}
	try {
	    singleSource = new EventSource("getFeatureDataSse/?feature_id=" + featureId);
	    singleSource.onmessage = function(event) {
	        /* for popup: put it on a document.element.id*/
          /* TODO: event.data is a list of dicts, for each sender a dict is available */
          document.getElementById(featureId).innerHTML = event.data + "<br>";
	        //event.data = cpm
	    };
	}
	catch(err) {
		console.log(err.message);
	}
}

// end sse functions

// global variables
var cpm = '';
var selectedId = ''; //'nl_03503';
var data;            // contains a list of featureId's and cpm's
var senderData;      // contains featureId and cpm
var dataSource;      // contains the sse datasource which are all features
var singleSource;    // contains the selected source which is a single feature
var millData = {};   // contains a table with mill data
var models = {};    // contains a table with model data


var featureSource = new ol.source.Vector({
    url: "static/data/features.json",
    format: new ol.format.GeoJSON(),
    useSpatialIndex: false
});


// start get data
getDataSse();
// end get data

// start get model list
refreshModelList();
// end get model list
</script>