<script>
    function setSelectedModel(id, url) {
        modelSelectedId = id;
        modelSelectedUrl = url;

        if (roleModelSelectedName != "") {
          $('.model').removeClass().addClass('model selectable');
          $('#nameModel_' + id).removeClass('selectable');
          $('#nameModel_' + id).addClass('selected-model');
    
          $('#connectedTo_' + id).html(roleModelSelectedName);
          $('#connectedTo_' + id).css({'color':'#999'});
          $('#confirm_' + id).removeClass('disabled');
          $('#remove_' + id).addClass('disabled');
        }
    }

    function removeSelectedRoleModel(id, url) {
        $('#connectedTo_' + id).css({'color':'#fff'});
        $('#nameModel_' + id).removeClass('selected-model');
        $('#confirm_' + id).addClass('disabled');
        $('#remove_' + id).addClass('disabled');
        passIPAddress(url, true);
    }

    function confirmSelectedRoleModel(id, url) {
        $('#nameModel_' + id).removeClass('selected-model');
        $('#confirm_' + id).addClass('disabled');
        $('#connectedTo_' + id).css({'color':'#000'});
        if (roleModelSelectedName != '') {
            $('#remove_' + id).removeClass('disabled');
            passIPAddress(url);
        }
    }


    function findLastKnownModel(number) {
        //var urlToCheck = 'http://molen' + pad(number, 4) + '.local';
        var urlToCheck = 'http://model';
        if (number > 1) {
            urlToCheck = urlToCheck + "-" + number.toString() + ".local";
        } else {
            urlToCheck = urlToCheck + ".local";
        }
        var xhr = new XMLHttpRequest();
        xhr.timeout = 1000;
        //console.log('UNSENT', xhr.readyState); // readyState will be 0
        xhr.open('GET', urlToCheck + '/_mdns/', true);
        //console.log('OPENED', xhr.readyState); // readyState will be 1

        xhr.onprogress = function() {
            //console.log('LOADING', xhr.readyState); // readyState will be 3
        };

        xhr.onload = function() {
            //console.log('DONE' + number, xhr.readyState); // readyState will be 4
            var response = xhr.responseText;
            //console.log("DONE " + response);
            if (response.startsWith("model")) {

                number += 1;
                findLastKnownModel(number);
                models[response.replace(/\n|\r/g, "")] = urlToCheck;
                //console.log(models);
            }
        };

        xhr.onerror = function() {
            // do nothing
        };

        xhr.send(null);
    }

    function findLocalModelsIP(number, myip) {
        // and remember the jqXHR object for this request
        var urlToCheck = 'http://' + myip.substring(0, myip.lastIndexOf('.') + 1);

        urlToCheck = urlToCheck + number.toString() + '/_ip/';
        var xhr = $.ajax({url: urlToCheck,
                            timeout: 1000} )
        .done(function() {
            //alert( "success" );
            var response = xhr.responseText;
                console.log("DONE " + response);
                if (response.startsWith("model")) {
                    var result = response.replace(/\n|\r/g, "").split('_')

                    modelIPs[result[0] + '-' + (Object.keys(modelIPs).length + 1)] = 'http://' + result[1];
                }
                //$('#modelListPercentage').html(Math.round((number/255) * 100) + '%');

        })
        .fail(function() {
            //alert( "error" );
            //$('#modelListPercentage').html(Math.round((number/255) * 100) + '%');
        })
        .always(function() {
            //alert( "complete" );
        });
    }

    function findIPs() {
        // search for loacl ip addresses since mdns devices
        //   do not appear with this os/browser combination
        var urlToCheck = window.location.href;
        var xhr = new XMLHttpRequest();
        xhr.timeout = 1000;
        //console.log('UNSENT', xhr.readyState); // readyState will be 0
        xhr.open('GET', urlToCheck + 'myip/', true);
        //console.log('OPENED', xhr.readyState); // readyState will be 1

        xhr.onprogress = function() {
            //console.log('LOADING', xhr.readyState); // readyState will be 3
        };

        xhr.onload = function() {
            //console.log('DONE', xhr.readyState); // readyState will be 4
            var response = xhr.responseText;

            for (var i=1; i < 256; i++) {
                findLocalModelsIP(i, response);
            }
            
        };

        xhr.onerror = function() {
            // do nothing
        };

        xhr.send(null);
    }

    function showModelList() {
        //models = {};
        if (Object.keys(models).length == 0) {
            $("#modelList").html('${no_mdns}');
            $('#modelListPercentage').html('');

            // if mdns doesn't give result, let user fill in ipaddresses
            findIPs();
            setTimeout(function (){
                showModelIPList();
            }, 3000); // How long do you want the delay to be (in milliseconds)?
        }
        else {
            $("#modelList").html(makeModelList(models));
        }
    }

    function showModelIPList() {
        $("#modelList").html(makeModelList(modelIPs));
        $('#modelListPercentage').html('');
    }

    function makeModelList(modelsAvailable) {
        if (Object.keys(modelsAvailable).length == 0) {
            return '${no_available_models}';
        }
        //console.log(JSON.stringify(${model_inventory}));

        modelTable = '';
        modelTable += '<table class="table">';
        modelTable += '<thead>';
        modelTable += '    <tr>';
        modelTable += '      <th scope="col">${table_model_name}</th>';
        modelTable += '      <th scope="col">${table_model_connect}</th>';
        modelTable += '      <th scope="col">${step_3_confirm}</th>';
        modelTable += '    </tr>';
        modelTable += '  </thead>';
        modelTable += '<tbody>';
        $.each(modelsAvailable, function(index, value) {
            var selectable = '';
            
            selectable = 'model';

            modelTable += '  <tr>';

            modelTable += '    <td';
            modelTable += " onclick='setSelectedModel(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>';
            modelTable += '      <div id="';
            modelTable += 'nameModel_';
            modelTable += index;
            modelTable += '" class="';
            modelTable += selectable;
            modelTable += '">';
            modelTable += index;
            modelTable += '</div>';

            modelTable += '    </td>';

            modelTable += '    <td>';
            modelTable += '      <div id="';
            modelTable += 'connectedTo_';
            modelTable += index;
            modelTable += '">-';
            modelTable += '</div>';
            modelTable += '    </td>';

            modelTable += '    <td>';
            modelTable += '<div class="btn-group" role="group" aria-label="on/off">';
            modelTable += '<button type="button" class="model-connect btn btn-default disabled"';
            modelTable += ' id="confirm_';
            modelTable += index;
            modelTable += '"';
            modelTable += " onclick='confirmSelectedRoleModel(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>${on}</button>';
            modelTable += '<button type="button" class="model-disconnect btn btn-default disabled"';
            modelTable += ' id="remove_';
            modelTable += index;
            modelTable += '"';
            modelTable += " onclick='removeSelectedRoleModel(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>${off}</button>';
            modelTable += '</div>';

            modelTable += '    </td>';

            modelTable += '  </tr>';

        });
        modelTable += '</tbody>';
        modelTable += '</table>';

        return modelTable;
    }

    function passIPAddress(urlModel, remove=false) {
        if (remove == false) {
            var url = urlModel + "/setRoleModel/?id=" + roleModelSelectedId;
            $('#connectedTo_' + modelSelectedId).html(roleModelSelectedName);
        }
        else {
            var url = urlModel + "/setRoleModel/?id=None";  // None is default setting for a model
        }
        // connect and cleanup selected RoleModel and selected model
        connectModel();
        var iframe = '<iframe id="' + urlModel + '" src="' + url + '" onload="connectModel(this);" width="1px" height="1px"></iframe>';
        $('#modelSelection').html(iframe);
    }

    function connectModel(element) {
        // cleanup directly after IFrame was loaded
        $('#modelSelection').html(''); 
    }


    function makeModelIPList() {
        var modelIPList = $("#modelIPList").html();
    }

    // start get models
    function refreshModelList() {
        // clear global variable models
        models = {};
        modelIPs = {};
        $("#modelList").html("${waiting}");
        $("#modelIPList").html("");
        findLastKnownModel(1);  // starting with the first one
        setTimeout(function () {
            showModelList();
        }, 1000); // How long do you want the delay to be (in milliseconds)?
    }
    // end get models

</script>