<script>
    function setSelectedModel(id, url) {
        modelSelectedId = id;
        modelSelectedUrl = url;

        if (roleModelSelectedName != "") {
          $('.model').removeClass().addClass('model selectable');
          $('#nameModel_' + id).removeClass('selectable');
          $('#nameModel_' + id).addClass('selected-model');
    
          $('#connectedTo_' + id).html(roleModelSelectedName);
          $('#connectedTo_' + id).css({'color':'#999'});
          $('#confirm_' + id).removeClass('disabled');
          $('#remove_' + id).addClass('disabled');
        }
    }

    function removeSelectedRoleModel(id, url) {
        $('#connectedTo_' + id).css({'color':'#fff'});
        $('#nameModel_' + id).removeClass('selected-model');
        $('#confirm_' + id).addClass('disabled');
        $('#remove_' + id).addClass('disabled');
        passIPAddress(url, true);
    }

    function confirmSelectedRoleModel(id, url) {
        $('#nameModel_' + id).removeClass('selected-model');
        $('#confirm_' + id).addClass('disabled');
        $('#connectedTo_' + id).css({'color':'#000'});
        if (roleModelSelectedName != '') {
            $('#remove_' + id).removeClass('disabled');
            passIPAddress(url);
        }
    }


    function findLastKnownModel(number) {
        //var urlToCheck = 'http://molen' + pad(number, 4) + '.local';
        var urlToCheck = 'http://model';
        if (number > 1) {
            urlToCheck = urlToCheck + "-" + number.toString() + ".local";
        } else {
            urlToCheck = urlToCheck + ".local";
        }
        var xhr = new XMLHttpRequest();
        xhr.timeout = 5000;
        //console.log('UNSENT', xhr.readyState); // readyState will be 0
        xhr.open('GET', urlToCheck + '/alive/', true);
        //console.log('OPENED', xhr.readyState); // readyState will be 1

        xhr.onprogress = function() {
            //console.log('LOADING', xhr.readyState); // readyState will be 3
        };

        xhr.onload = function() {
            //console.log('DONE' + number, xhr.readyState); // readyState will be 4
            //models[pad(number, 4)] = urlToCheck;
            var response = xhr.responseText;
            //console.log("DONE " + response);
            if (response.startsWith("model")) {

                number += 1;
                findLastKnownModel(number);
                models[response.replace(/\n|\r/g, "")] = urlToCheck;
                //console.log(models);
            }
        };

        xhr.send(null);
    }

    function showModelList() {
        $("#modelList").html(makeModelList());
    }

    function makeModelList() {
        if (Object.keys(models).length == 0) {
            return '${no_available_models}';
        }
        console.log(JSON.stringify(${model_inventory}));

        modelTable = '';
        modelTable += '<table class="table">';
        modelTable += '<thead>';
        modelTable += '    <tr>';
        modelTable += '      <th scope="col">${table_model_name}</th>';
        modelTable += '      <th scope="col">${table_model_connect}</th>';
        modelTable += '      <th scope="col">${step_3_confirm}</th>';
        modelTable += '    </tr>';
        modelTable += '  </thead>';
        modelTable += '<tbody>';
        $.each(models, function(index, value) {
            var selectable = '';
            
            selectable = 'model';

            modelTable += '  <tr>';

            modelTable += '    <td';
            modelTable += " onclick='setSelectedModel(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>';
            modelTable += '      <div id="';
            modelTable += 'nameModel_';
            modelTable += index;
            modelTable += '" class="';
            modelTable += selectable;
            modelTable += '">';
            modelTable += index;
            modelTable += '</div>';

            modelTable += '    </td>';

            modelTable += '    <td>';
            modelTable += '      <div id="';
            modelTable += 'connectedTo_';
            modelTable += index;
            modelTable += '">-';
            modelTable += '</div>';
            modelTable += '    </td>';

            modelTable += '    <td>';
            modelTable += '<div class="btn-group" role="group" aria-label="on/off">';
            modelTable += '<button type="button" class="model-connect btn btn-default disabled"';
            modelTable += ' id="confirm_';
            modelTable += index;
            modelTable += '"';
            modelTable += " onclick='confirmSelectedRoleModel(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>${on}</button>';
            modelTable += '<button type="button" class="model-disconnect btn btn-default disabled"';
            modelTable += ' id="remove_';
            modelTable += index;
            modelTable += '"';
            modelTable += " onclick='removeSelectedRoleModel(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>${off}</button>';
            modelTable += '</div>';

            modelTable += '    </td>';

            modelTable += '  </tr>';

        });
        modelTable += '</tbody>';
        modelTable += '</table>';

        return modelTable;
    }

    function passIPAddress(urlModel, remove=false) {
        if (remove == false) {
            var url = urlModel + "/setRoleModel/?id=" + roleModelSelectedId;
            $('#connectedTo_' + modelSelectedId).html(roleModelSelectedName);
        }
        else {
            var url = urlModel + "/setRoleModel/?id=None";  // None is default setting for a model
        }
        // connect and cleanup selected RoleModel and selected model
        connectModel();
        var iframe = '<iframe id="' + urlModel + '" src="' + url + '" onload="connectModel(this);" width="1px" height="1px"></iframe>';
        $('#modelSelection').html(iframe);
    }

    function connectModel(element) {
        // cleanup directly after IFrame was loaded
        $('#modelSelection').html(''); 
    }

    // start get models
    function refreshModelList() {
        // clear global variable models
        models = {};
        $("#modelList").innerHTML = "${waiting}";
        findLastKnownModel(1);  // starting with the first one
        setTimeout(function (){
        showModelList();
        }, 1000); // How long do you want the delay to be (in milliseconds)? 
    }
    // end get models

</script>