<script>
    function findLastKnownModel(number) {
        var urlToCheck = 'http://model';
        if (number > 1) {
            urlToCheck = urlToCheck + "-" + number.toString() + ".local";
        } else {
            urlToCheck = urlToCheck + ".local";
        }
        var xhr = new XMLHttpRequest();
        xhr.timeout = modelMDNSSearchTimeout;
        //console.log('UNSENT', xhr.readyState); // readyState will be 0
        var bareDocumentLocation = document.location.href;
        var questionLocation = bareDocumentLocation.indexOf("?");
		if (questionLocation > -1) {
			bareDocumentLocation = bareDocumentLocation.split("?")[0];
		}
        xhr.open('GET', urlToCheck + '/_mdns/?name=' + encodeURIComponent(bareDocumentLocation), true);

        //console.log('OPENED', xhr.readyState); // readyState will be 1

        xhr.onprogress = function() {
            //console.log('LOADING', xhr.readyState); // readyState will be 3
        };

        xhr.onload = function() {
            //console.log('DONE' + number, xhr.readyState); // readyState will be 4
            var response = xhr.responseText;
            //console.log("DONE " + response);
            if (response.startsWith("model")) {

                response = response.replace(/\n|\r/g, "");
                //var modelAndRoleModel = response.split('<');

                var modelAndRoleModel = response.split('<');
                var savedRoleModelOnModel = "";
                var modelName = "";
                if (response.indexOf('<') > -1) {
                    modelAndRoleModel = response.split('<');
                    savedRoleModelOnModel = modelAndRoleModel[1].replace("<","").replace(">","");
                    modelName = modelAndRoleModel[0];
                }
                else {
                    savedRoleModelOnModel = "";  // model has no saved rolemodel
                    modelName = response;
                }
                if (number == 1) {
                    modelName += "-1";  // to match mdns names with names gotten using the (deprecated) IP method
                }
                number += 1;
  

                findLastKnownModel(number);
                models[modelName] = urlToCheck;
                modelAndSavedRoleModel[modelName] = savedRoleModelOnModel;

                //console.log(models);
            }
        };

        xhr.onerror = function() {
            // do nothing
        };

        xhr.send(null);
    }

    function passIPAddress(modelId, modelUrl, roleModelId, standalone=false) {
        var url = "";
        url = modelUrl + "/setRoleModel/?id=" + roleModelId;
        if (modelUrl != undefined) {

            if (standalone == true) {  // only a standalone model gives the speed value
                // from rpm to rph (model expects rph)
                // with 4 blades divide by 4
                url += "&speed=" + independentSpeed[modelId] * 60 / 4;
            }
            // connect and cleanup selected RoleModel and selected model
            var iframe = '<span id="toberemoved_';
            iframe += modelId;
            iframe += '"><iframe id="' + modelUrl + '" src="' + url + '" name="' + modelUrl + '"';
            iframe += " onload='cleanupConnectModel(" + JSON.stringify(modelId) + ");'";
            iframe += ' width="0px" height="0px"></iframe>';
            iframe += '</span>';
            $('#modelSelection').html(iframe);
            //$('#modelSelection').append(iframe);
        }
    }

    function cleanupConnectModel(element) {
        // cleanup connected model directly after IFrame was loaded
        setTimeout(function() {
            $('#toberemoved_' + element).parent().html('');
        }, 1000);
    }


    // start get models
    function refreshModelList() {
        // clear global variable models
        $("#refreshModelList").attr("disabled", "disabled");
        models = {};
        $("#modelList").html("${waiting}");
        findLastKnownModel(1);  // starting with the first one
        
        var mDNSTimeout = 1500;
        // if there is no response via mDNS within this time, a search though IP is performed
        setTimeout(function () {
            showModelList();    
        }, mDNSTimeout); // How long do you want the delay to be (in milliseconds)?
        
    }
    // end get models

    // start show connect type
    function viewConnectPart(mode) {
        $('#search_mdns').hide();
        $('#enter_code').hide();
        $('#selectSearchMDNS').removeClass('btn-link');
        $('#selectEnterCode').removeClass('btn-link');
        if (mode == 'mdns') {
            $('#search_mdns').show();
            $('#selectEnterCode').addClass('btn-link');
            $('#selectSearchMDNS').removeClass('btn-info');
            $('#selectSearchMDNS').addClass('btn-info');
        }
        if (mode == 'code') {
            $('#enter_code').show();
            $('#selectSearchMDNS').addClass('btn-link');
            $('#selectEnterCode').removeClass('btn-info');
            $('#selectEnterCode').addClass('btn-info');
        }
    }
    // end sow connect type

</script>