<script>
    function setSelectedRoleModel(selectedMill) {
        document.getElementById("selectedRoleModelId").innerHTML = selectedMill.id;
        document.getElementById("selectedRoleModel").innerHTML = selectedMill.name;
    };

    function setSelectedModel(selectedModel) {
        document.getElementById("selectedModelId").innerHTML = selectedModel;
        document.getElementById("selectedModel").innerHTML = selectedModel;
        passIPAddress(selectedModel);
    };

    function findLastKnownClient(number) {
        //var urlToCheck = 'http://molen' + pad(number, 4) + '.local';
        var urlToCheck = 'http://model';
        if (number > 1) {
            urlToCheck = urlToCheck + "-" + number.toString() + ".local";
        } else {
            urlToCheck = urlToCheck + ".local";
        }
        var xhr = new XMLHttpRequest();
        xhr.timeout = 5000;
        console.log('UNSENT', xhr.readyState); // readyState will be 0
        //TODO debug op de Counter heeft even "Access-Control-Allow-Origin", "*" gekregen als test
        xhr.open('GET', urlToCheck + '/alive/', true);
        console.log('OPENED', xhr.readyState); // readyState will be 1

        xhr.onprogress = function() {
            console.log('LOADING', xhr.readyState); // readyState will be 3
        };

        xhr.onload = function() {
            console.log('DONE' + number, xhr.readyState); // readyState will be 4
            //clients[pad(number, 4)] = urlToCheck;
            var response = xhr.responseText;
            console.log("b b b " + response);
            if (response.startsWith("model")) {

                number += 1;
                findLastKnownClient(number);
                clients[response.replace(/\n|\r/g, "")] = urlToCheck;
                console.log(clients);
            }
        };

        xhr.send(null);
    }

    /*
    for (var i = 0; i < 10; i++) {
        findClients(i); // document.getElementById("clientList").innerHTML += client + '<br';
    }
    */
    function showClientList() {
        document.getElementById("clientList").innerHTML = makeClientList();
    }

    function makeClientList() {
        if (Object.keys(clients).length == 0) {
            return 'Geen modellen beschikbaar';
        }
        modelTable = '';
        modelTable += '<table class="table">';
        modelTable += '<thead>';
        modelTable += '    <tr>';
        modelTable += '      <th scope="col">Model url</th>';
        modelTable += '    </tr>';
        modelTable += '  </thead>';
        modelTable += '<tbody>';
        $.each(clients, function(index, value) {
            modelTable += '  <tr>';
            modelTable += '    <td>';
            modelTable += '<div id="';
            modelTable += index;
            modelTable += '"';
            modelTable += ' draggable="true" ondragstart="drag(event);"';
            modelTable += " onclick='setSelectedModel(" + JSON.stringify(value) + ");'";
            modelTable += '>';
            modelTable += value;
            modelTable += '</div>'
            modelTable += '    </td>';
            modelTable += '  </tr>';
        });
        modelTable += '</tbody>';
        modelTable += '</table>';

        return modelTable;
    }

    function passIPAddress(urlModel) {
        //if (event.key === 'Enter') {
            //var url = 'http://' + e.value;
            console.log("a a a " + urlModel);
            //if (document.getElementById(urlModel) === null) {
                var url = urlModel + "/setRoleModel/?id=" + document.getElementById("selectedRoleModelId").innerHTML;

                var iframe = '<br><iframe id="' + urlModel + '" src="' + url + '" onload="loadIFrame(this)"></iframe>';
                console.log(iframe);
                document.getElementById("clientData").innerHTML += iframe;

                //url = "http://localhost:8080/client_2.html";

 
                //document.getElementById(urlModel).setAttribute("src", url);


            //}
            //console.log(document.getElementById("clientData").innerHTML);
        //}
    }

    /* for drag and drop in a text-box
    function passIPAddress(e) {
        //if (event.key === 'Enter') {
            //var url = 'http://' + e.value;
            var url = e.value;
            console.log("a a a " + document.getElementById(e.value));
            if (document.getElementById(e.value) === null) {
                var iframe = '<br><iframe id="' + e.value + '" onload="loadIFrame(this)"></iframe>';
                console.log(iframe);
                document.getElementById("clientData").innerHTML += iframe;

                //url = "http://localhost:8080/client_2.html";

                var url = e.value + "/setRoleModel/?id=" + document.getElementById("selectedRoleModelId").innerHTML;

                document.getElementById(e.value).setAttribute("src", url);


            }
            console.log(document.getElementById("clientData").innerHTML);
        //}
    }
    */

    function loadIFrame(element) {
        document.getElementById("clientData").innerHTML = ""; 
        //var xId = element.id;
        //var x = document.getElementById(xId).contentWindow;
        //console.log("a a a" + xId);
        //var url = xId + "/setRoleModel?roleModel=" + document.getElementById("selectedRoleModelId").innerHTML;
        //var url = xId + "/getFeatureDataSse?feature_id=nl_03503";
        //var url = "http://10.0.0.49:9090/getFeatureDataSse?feature_id=nl_03503";

        //var url = "geselecteerde molen uit de lijst molen";
        //console.log(JSON.stringify(url));
        //x.postMessage(JSON.stringify(url), "http://10.0.0.10:9090/");

        //x.postMessage(JSON.stringify(url), xId);
    }


    // start get models
    function refreshModelList() {
        findLastKnownClient(1);
        setTimeout(function (){
        showClientList();
        }, 1000); // How long do you want the delay to be (in milliseconds)? 
    }
    // end get models

</script>