<script>
      // start base map with molenlayer
    var molenLayer = new ol.layer.Vector({
        title: 'molen',
        opacity: 1,
        source: new ol.source.Vector({
            features: []
        })
    });

    var mapLayer = new ol.layer.Tile({
        opacity: 0.8,
        source: new ol.source.OSM()
            //source: new.ol.source.OSM(https://maps-cdn.salesboard.biz/styles/klokantech-3d-gl-style/{z}/{x}/{y}.png)
    });

    var view = new ol.View({
        center: ol.proj.fromLonLat([0, 0]),
        zoom: 7
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
            mapLayer,
            molenLayer,
        ],
        view: view
      });
    //end base map with molenlayer


    var selectClick = new ol.interaction.Select({
        condition: ol.events.condition.click,
        hitTolerance: 3,
        layers: [molenLayer],
        style: false
    });
    var select = selectClick;

    // start event on map
    map.on('click', function(evt) {
        // Clear previous popup (if exists) and empty global selectedId
        millInfo.setPosition(undefined);
        closer.blur();
        selectedId = "";

        var feature = map.forEachFeatureAtPixel(evt.pixel, function(feature) {
            return feature;
        }, {
            hitTolerance: 3
        });
        if (feature) {
            popup(feature);
            selectedId = feature.getId();
        }
        refresh();
    });

    map.on("pointermove", function (evt) {
        var hit = this.forEachFeatureAtPixel(evt.pixel, function(feature, layer) {
            return true;
        }); 
        if (hit) {
            this.getTargetElement().style.cursor = 'pointer';
        } else {
            this.getTargetElement().style.cursor = '';
        }
    });

    map.on('moveend', function (evt) {
      var lonlat = ol.proj.transform(view.getCenter(), 'EPSG:3857', 'EPSG:4326');
      store("longitude", JSON.stringify(lonlat[0]));
      store("latitude", JSON.stringify(lonlat[1]));
      store("zoom", JSON.stringify(view.getZoom()));
    });
    // end event on map

    function showMap() {
      var coordinate = [parseFloat(getStored("longitude")), parseFloat(getStored("latitude"))];
      coordinate = ol.proj.transform(coordinate, 'EPSG:4326', 'EPSG:3857');
      view.setCenter(coordinate);
      view.setZoom(getStored('zoom'));
    }

</script>