<script>
    // start base map with molenlayer
    var molenLayer = new ol.layer.Vector({
        title: 'molen',
        opacity: 1,
        source: new ol.source.Vector({
            features: []
        })
    });

    var mapLayer = new ol.layer.Tile({
        opacity: 0.8,
        source: new ol.source.OSM()
            //source: new.ol.source.OSM(https://maps-cdn.salesboard.biz/styles/klokantech-3d-gl-style/{z}/{x}/{y}.png)
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
            mapLayer,
            molenLayer,
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([4.34, 52.0]),
            zoom: 9
        })
    });
    //end base map with molenlayer


    var selectClick = new ol.interaction.Select({
        condition: ol.events.condition.click,
        hitTolerance: 3,
        layers: [molenLayer],
        style: false
    });
    var select = selectClick;

    // start event on map

    //map.addInteraction(select);
    map.on('click', function(evt) {
        // Clear previous popup (if exists) and empty global selectedId
        millInfo.setPosition(undefined);
        closer.blur();
        selectedId = "";

        var feature = map.forEachFeatureAtPixel(evt.pixel, function(feature) {
            return feature;
        }, {
            hitTolerance: 3
        });
        if (feature) {
            popup(feature);
            selectedId = feature.getId();
            // TODO: getUpdate is for step 3. the client getUpdates(selectedId);
            //       not sure yet how this is done, poll local ip addresses through javascript?
            //       which could be a client (toy-mill) 
        }
        refresh();
    });

/* TODO: make cursor pointer type
// from an example on https://openlayers.org/en/latest/examples/select-hover-features.html

var highlightStyle = new Style({
  fill: new Fill({
    color: 'rgba(255,255,255,0.7)',
  }),
  stroke: new Stroke({
    color: '#3399CC',
    width: 3,
  }),
});

map.on('pointermove', function (e) {
  if (selected !== null) {
    selected.setStyle(undefined);
    selected = null;
  }

  map.forEachFeatureAtPixel(e.pixel, function (f) {
    selected = f;
    f.setStyle(highlightStyle);
    return true;
  });

  if (selected) {
    status.innerHTML = '&nbsp;Hovering: ' + selected.get('name');
  } else {
    status.innerHTML = '&nbsp;';
  }
});
*/
    // end event on map

</script>