<script>
    function setSelectedModel(roleModelId, roleModelProperty, modelId, modelUrl) {
        var connectString = 'confirmSelectedModel(' + JSON.stringify(roleModelId) + ',' + JSON.stringify(roleModelProperty) + ',' + JSON.stringify(modelId) + ',' + JSON.stringify(modelUrl) + ');';
        $('#connectButton_' + modelId).attr('onclick', connectString);

        $('.rolemodel').removeClass().addClass('rolemodel selectable');
        $('#nameRoleModel_modal_' + modelId + '_' + roleModelId).removeClass('selectable');
        $('#nameRoleModel_modal_' + modelId + '_' + roleModelId).addClass('selected-rolemodel');
    }

    function confirmSelectedModel(roleModelId, roleModelProperty, modelId, modelUrl) {
        modelAndSavedRoleModel[modelId] = roleModelId;

        $('#roleModelModal_' + modelId).modal('toggle');

        if (roleModelProperty["name"] != "") {
            var confirmedModelHTML = '<span>' + roleModelProperty["name"] + '</span>';
            confirmedModelHTML += '<span style="float:right" id="bpmRoleModel_model_' + modelId + '_' + roleModelId + '">-</span>';
            $('#connectedTo_' + modelId).html(confirmedModelHTML);
          passIPAddress(modelId, modelUrl, roleModelId, false);
        }
    }

    function setModelSpeed(roleModelId, speedHTML, modelId, modelUrl) {
        // cleanup modelAndSavedRoleModel
        modelAndSavedRoleModel[modelId] = roleModelId;
        $('#connectedTo_' + modelId).html(speedHTML);
        processIndependentSettings(roleModelId, modelId, modelUrl);
        passIPAddress(modelId, modelUrl, roleModelId, true);
    }

    function removeSelectedRoleModel(modelId, modelUrl) {
        // cleanup modelAndSavedRoleModel
        $('#connectedTo_' + modelId).html("-");
        delete modelAndSavedRoleModel[modelId];
        passIPAddress(modelId, modelUrl, "None", false);   // None is default setting for a model
    }

    function showModelList() {
        //models = {}; // remove remark to test IP-search over mDNS search
        if (Object.keys(models).length == 0) {
            $("#modelList").html('${no_mdns}');
            $('#modelListPercentage').html('');

            // showModelIPList is called after leaving the recursive processIPResponse in connectModel.html
            findIPs();
            
        }
        else {
            $("#modelList").html(makeModelList(models));
            $("#refreshModelList").attr("disabled", false);
            $.each(models, function(index, value) {
            if (modelAndSavedRoleModel[index] == "independent") {
                $('#standalone_' + index).trigger('click');
            }
            else {
                setSelectedModel(modelAndSavedRoleModel[index], null, index, models[index]);
            }
        });

        }
    }

    function showModelIPList() {
        $("#modelList").html(makeModelList(modelIPs));
        $('#modelListPercentage').html('');
        $("#refreshModelList").attr("disabled", false);
        $.each(modelIPs, function(index, value) {
            if (modelAndSavedRoleModel[index] == "independent") {
                $('#standalone_' + index).trigger('click');
            }
            else {
                setSelectedModel(modelAndSavedRoleModel[index], null, index, modelIPs[index]);
            }
        });
    }

    function makeModelList(modelsAvailable) {
        if (Object.keys(modelsAvailable).length == 0) {
            return '${no_available_models}';
        }

        modelTable = '';
        modelTable += '<table class="table" border="1">';
        modelTable += '<thead>';
        modelTable += '    <tr>';
        modelTable += '      <th scope="col">${table_model_name}</th>';
        modelTable += '      <th scope="col">${table_model_connect}';
  
        /*
        modelTable += '<span style="float:right;">';
        if (unit == "rpm") {
            modelTable += "${table_rpm}";
        }
        if (unit == "end") {
            modelTable += "${table_ends}";
        }
        modelTable += "</span>";
        */
        modelTable += '</th>';
  
        modelTable += '      <th scope="col">${speed_buttons}</th>';
        modelTable += '    </tr>';
        modelTable += '  </thead>';
        modelTable += '<tbody>';
        $.each(modelsAvailable, function(index, value) {
            modelTable += '  <tr>';
            modelTable += '    <td>';
            modelTable += '      <div id="';
            modelTable += 'nameModel_';
            modelTable += index;
            modelTable += '" class="model_name">';
            modelTable += index;
            modelTable += '</div>';
            modelTable += '    </td>';

            modelTable += '    <td>';
            modelTable += '      <span id="';
            modelTable += 'connectedTo_';
            modelTable += index;

            modelTable += '">';
            modelTable += '<span>';
            modelTable += $('#nameRoleModel_' + modelAndSavedRoleModel[index]).html() || "-";
            //modelTable += $('#nameRoleModel_' + index).html() || "-";
            modelTable += '</span>';

            modelTable += '<span style="float:right" id="bpmRoleModel_model_';
            modelTable += index + '_'
            modelTable += modelAndSavedRoleModel[index];
            modelTable += '">-</span>';
            modelTable += '</span>';

            modelTable += '    </td>';

            modelTable += '    <td>';

            modelTable += '            <!-- Button trigger modal -->';
            modelTable += '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roleModelModal_';
            modelTable += index;
            modelTable += '"';
            modelTable += " onclick='selectRoleModel(" + JSON.stringify(index) +"," + JSON.stringify(value) + ");'";
            modelTable += '>';
            modelTable += '  ${choice_button}';
            modelTable += '</button>';


            modelTable += '<button type="button" class="model-disconnect btn btn-primary enabled"';
            modelTable += ' id="standalone_';
            modelTable += index;
            modelTable += '"';
            modelTable += " onclick='selectStandAlone(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>${stand_alone_button}</button>';

            modelTable += '<button type="button" class="model-disconnect btn btn-primary enabled"';
            modelTable += ' id="remove_';
            modelTable += index;
            modelTable += '"';
            modelTable += " onclick='removeSelectedRoleModel(" + JSON.stringify(index) + "," + JSON.stringify(value) + ");'";
            modelTable += '>${off}</button>';

            modelTable += '<!-- Modal -->';
            modelTable += '<div class="modal fade roleModelModal" id="roleModelModal_';
            modelTable += index;
            modelTable += '"';
            modelTable += '  tabindex="-1" role="dialog" aria-labelledby="roleModelModalLabel_';
            modelTable += index;
            modelTable += '" aria-hidden="true">';
            modelTable += '  <div class="modal-dialog" role="document">';
            modelTable += '    <div class="modal-content">';
            modelTable += '      <div class="modal-header">';
            modelTable += '        <h5 class="modal-title" id="roleModelModalLabel_';
            modelTable += index;
            modelTable += '">';
            modelTable += '${connect} ';
            modelTable += index;
            modelTable += ' ${by_selecting}';
            modelTable += '        </h5>';
            modelTable += '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">';
            modelTable += '          <span aria-hidden="true">&times;</span>';
            modelTable += '        </button>';
            modelTable += '      </div>';
            modelTable += '      <div id="modal-body_';
            modelTable += index;
            modelTable += '" class="modal-body">';
            modelTable += '      </div>';
            modelTable += '      <div class="modal-footer">';
            modelTable += '        <button type="button" class="btn btn-secondary" data-dismiss="modal">${close_button}</button>';
            modelTable += '        <button type="button" id="connectButton_';
            modelTable += index;
            modelTable +='" class="btn btn-primary">${connect_button}</button>';
            modelTable += '      </div>';
            modelTable += '    </div>';
            modelTable += '  </div>';
            modelTable += '</div>';

            modelTable += '    </td>';
            modelTable += '  <tr>';
        });
        modelTable += '</tbody>';
        modelTable += '</table>';

        return modelTable;
    }

function selectStandAlone(modelIndex, modelUrl) {
    var setSpeed = '';
    setSpeed += '<span id="independent_less_';
    setSpeed += modelIndex;
    setSpeed += '" class="glyphicon glyphicon-minus"></span>'
    setSpeed += '&nbsp;&nbsp;';
    setSpeed += '<span id="bpmRoleModel_model_';
    setSpeed += modelIndex + '_independent';
    setSpeed += '" class="setSpeed';
    setSpeed += '">';
    setSpeed += '</span>';
    setSpeed += '&nbsp;&nbsp;';
    setSpeed += '<span id="independent_more_';
    setSpeed += modelIndex;
    setSpeed += '" class="glyphicon glyphicon-plus"></span>'
    setSpeed += '<span style="float:right">(0-' + maxIndependentSpeedInRPM + ')</span>';


    setModelSpeed("independent", setSpeed, modelIndex, modelUrl);
}

// start independent settings
function processIndependentSettings(roleModelId, modelId, modelUrl) {
  independentSpeed = JSON.parse(getStored("speed")) || {};
  
  $.each(modelAndSavedRoleModel, function(index, value) {

    if (modelAndSavedRoleModel[index] == "independent") {
        // first index of mdns needs an extra string to be the same as getting names with ip
        var modelName = index;

        if ((independentSpeed[modelName] == undefined) || (independentSpeed[modelName] == null)) {
            independentSpeed[modelName] = 0;
        }
        $('#bpmRoleModel_model_' + modelName + '_independent').html(independentSpeed[modelName].toString());
        store("speed", JSON.stringify(independentSpeed));
        $('#independent_less_' + modelName).off('click').on('click', function() {
            independentSpeed[modelName] = parseInt($('#bpmRoleModel_model_' + modelName + '_independent').html()) - Math.round((10 / maxIndependentSpeedInRPM) * maxIndependentSpeedInRPM);
            if (independentSpeed[modelName] < 0) {
                independentSpeed[modelName] = 0;
            }
            $('#bpmRoleModel_model_' + modelName + '_independent').html(independentSpeed[modelName].toString());
            store("speed", JSON.stringify(independentSpeed));
            passIPAddress(modelId, modelUrl, roleModelId, true);
        });
        $('#independent_more_' + modelName).off('click').on('click', function() {
            independentSpeed[modelName] = parseInt($('#bpmRoleModel_model_' + modelName + '_independent').html()) + Math.round((10 / maxIndependentSpeedInRPM) * maxIndependentSpeedInRPM);
            if (independentSpeed[modelName] > maxIndependentSpeedInRPM) {
                independentSpeed[modelName] = maxIndependentSpeedInRPM;
            }
            $('#bpmRoleModel_model_' + modelName + '_independent').html(independentSpeed[modelName].toString());
            store("speed", JSON.stringify(independentSpeed));
            passIPAddress(modelId, modelUrl, roleModelId, true);
        });
    }
  })
}
// end independent settings

</script>