<style>
    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 270px;
    }
    
    .ol-popup:after,
    .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }
    
    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }
    
    .ol-popup-closer:after {
        content: "X";
    }
</style>

<script>
    /**
     * Elements that make up the popup.
     */
    var container = document.getElementById('popup');
    var content = document.getElementById('popup-content');
    var closer = document.getElementById('popup-closer');

    /**
     * Create an overlay to anchor the popup to the map.
     */
    var millInfo = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    });

    /**
     * Add a click handler to hide the popup.
     * @return {boolean} Don't follow the href.
     */
    closer.onclick = function() {
        millInfo.setPosition(undefined);
        closer.blur();
        selectedId = "";
        return false;
    };

    function popup(feature) {

        map.addOverlay(millInfo);

        // Make new popup
        if (feature) {
            selectedId = feature.getId();
            var coordinate = feature.values_.geometry.flatCoordinates;
            millInfo.setPosition(coordinate);
            var popupTitle = "";
            var numberStart = selectedId.indexOf("_");
            if (numberStart > -1) {
                var tenbruggencatenummer = selectedId.substring(numberStart + 1);
                popupTitle = "${molendatabase}";
                popupTitle += "<div id=\"popup_" + selectedId + "\" >";
                popupTitle += "<form target=\"_blank\"";
                popupTitle += " id=\"molendatabase_" + selectedId + "\"";
                popupTitle += " onclick=\"submitForm('" + selectedId + "');\"";
                popupTitle += " action=\"https://molendatabase.nl/nederland/molen.php\"";
                popupTitle += " method=\"post\"";
                popupTitle += " enctype=\"application/x-www-form-urlencoded\"";
                popupTitle += ">";
                popupTitle += "<input type=\"hidden\" name=\"tenbruggencatenummer\" value=\"" + tenbruggencatenummer + "\">\n";
                popupTitle += "<span title=\"Click for molendatabase.nl\" style=\"cursor: pointer\">";
                popupTitle += "<strong>";
                popupTitle += feature.values_.name;
                popupTitle += " <img src=\"static/images/external-link-icon_7.png\" height=\"10px\"</div>";
                popupTitle += "</strong>";
                popupTitle += "</span>\n";
                popupTitle += "</form>\n";
            }

            if (selectedId != undefined) {
                $.getJSON("get_data_as_json/?feature_id=" + selectedId)
                    .done(function(data) {
                        /* create a text as content for a popup
                        */
                        var popupText = "<ul style=\"list-style-type:square\">";
                        $.each(data, function(key, val) {
                            // data: name, bpm, nr_blades
                            popupText += "<li>";
                            if (key == "day_counter") {
                                key = "${day_counter}";
                            }
                            popupText += key + " " + val;
                            popupText += "</li>"
                        });

                        popupText += "</ul>";

                        content.innerHTML = popupTitle + popupText;
                    })
            };
        }
    }

    function submitForm(selectedFeatureID) {
        var numberStart = selectedFeatureID.indexOf("_");
        var tenbruggencatenummer = selectedFeatureID.substring(numberStart + 1);
        $('#molendatabase_' + selectedFeatureID).submit();
        // reload needed to clear cache. Also needs cache control in meta tags in base.html
        window.location.reload(true);
    }
</script>