<style>
    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -102px;
        min-width: 200px;
    }
    
    .ol-popup:after,
    .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 100px;
        margin-left: -10px;
    }
    
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 100px;
        margin-left: -11px;
    }
    
    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }
    
    .ol-popup-closer:after {
        content: "X";
    }
</style>

<script>
    /**
     * Elements that make up the popup.
     */
    var container = document.getElementById('popup');
    var content = document.getElementById('popup-content');
    var closer = document.getElementById('popup-closer');

    /**
     * Create an overlay to anchor the popup to the map.
     */
    var millInfo = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    });

    /**
     * Add a click handler to hide the popup.
     * @return {boolean} Don't follow the href.
     */
    closer.onclick = function() {
        millInfo.setPosition(undefined);
        closer.blur();
        selectedId = "";
        return false;
    };

    function popup(feature) {

        map.addOverlay(millInfo);

        // Make new popup
        if (feature) {
            selectedId = feature.getId();
            var coordinate = feature.values_.geometry.flatCoordinates;
            millInfo.setPosition(coordinate);
            var popupTitle = "";
            if (selectedId != undefined) {
                if (! feature.values_.source_id)  // draaiendemolens-data, no external import-data
                {
                    if (selectedId > 1) {  // -1 is test/demo
                        popupTitle = "${molendatabase}";
                        popupTitle += "<div id=\"popup_" + selectedId + "\" >";
                        popupTitle += "<a href=\"https://www.molendatabase.nl/molens/ten-bruggencate-nr-" + selectedId + "\" target=\"_blank\">\n";
                        popupTitle += "<span title=\"Click for molendatabase.nl\" style=\"cursor: pointer\">";
                        popupTitle += "<strong>";
                        popupTitle += feature.values_.name;
                        popupTitle += " <img src=\"static/images/external-link-icon_7.png\" height=\"10px\">";
                        popupTitle += "</strong>";
                        popupTitle += "</a>";
                        popupTitle += "</div>";
                    }
                    $.getJSON("get_data_as_json/?feature_id=" + selectedId)
                        .done(function(data) {
                            /* create a text as content for a popup
                            */
                            var popupText = "<ul style=\"list-style-type:square\">";
                            popupText += "<li>";
                            popupText += "${tenbruggecate_code}";
                            popupText += " ";
                            popupText += selectedId;
                            popupText + "</li>";

                            popupText += "<li>";
                            popupText += "${revolutions}";
                            $.each(data, function(key, val) {
                                // data: name, bpm, nr_blades
                                if (key == "day_counter") {
                                    key = "${day_counter}";
                                }
                                if (key == "month_counter") {
                                    key = "${month_counter}";
                                }
                                if (key == "year_counter") {
                                    key = "${year_counter}";
                                }
                                popupText += "<br>" + key + " " + val;
                            });
                            popupText += "</li>"

                            popupText += "</ul>";

                            content.innerHTML = popupTitle + popupText;
                        })
                }
                if (feature.values_.source_id == "smartmolen_molenList")
                {
                    popupTitle = '${source_smartmolen}';
                    popupTitle += "<div id=\"popup_" + selectedId + "\" >";
                    popupTitle += "<a href=\"https://www.smartmolen.com/" + selectedId + "\" target=\"_blank\">\n";
                    popupTitle += "<span title=\"Click for website\" style=\"cursor: pointer\">";
                    popupTitle += "<strong>";
                    popupTitle += feature.values_.name;
                    popupTitle += " <img src=\"static/images/external-link-icon_7.png\" height=\"10px\">";
                    popupTitle += "</strong>";
                    popupTitle += "</a>";
                    popupTitle += "</div>";

                    var popupText = "<ul style=\"list-style-type:square\">";
                    popupText += "<li>";
                    popupText += "${tenbruggecate_code}";
                    popupText += " ";
                    popupText += JSON.stringify(feature.values_.model_mill_code).replaceAll('"', '');
                    popupText + "</li>";
                    if (feature.values_.day_counter > -1)   // -1 is there is no spin-sensor 
                    {
                        popupText += "<li>";
                        popupText += "${revolutions}";
                        popupText += "<br>" + "${day_counter}" + " " + JSON.stringify(feature.values_.day_counter);
                        popupText += "<br>" + "${year_counter}" + " " + JSON.stringify(feature.values_.year_counter);
                        popupText += "</li>"
                    }
                    if (! feature.values_.cap_orientation == "")
                        popupText += "<li>";
                        popupText += "${cap_orientation}" + " ";
                        popupText += JSON.stringify(feature.values_.cap_orientation).replaceAll('"', '');
                        popupText += "</li>"


                    popupText += "</ul>";

                    content.innerHTML = popupTitle + popupText;
                }

            };
        }
    }

    function submitForm(selectedFeatureID) {
        var numberStart = selectedFeatureID.indexOf("_");
        var tenbruggencatenummer = selectedFeatureID.substring(numberStart + 1);
        $('#molendatabase_' + selectedFeatureID).submit();
        // reload needed to clear cache. Also needs cache control in meta tags in base.html
        window.location.reload(true);
    }
</script>